
.home-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 76px;
    padding: 1rem 2rem;
    border-bottom: 2px solid #214f4b;
    background-color: rgb(0, 0, 0);
}
.home-header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 1.8rem;
}

.home-nav {
    display: flex;
    gap: 1.0rem;
}

.home-nav a {
    color: #fcffff;
    font-size: 1.05rem;
    font-weight: 600;
    text-decoration: none;
}

.home-nav a:hover {
    text-decoration: underline;
}

.home-content {
    padding: 80px 1rem 1rem;
}

.home-header h1 a {
    color: white;         
    text-decoration: none;  
}

#userwelcome {
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: none; 
}